.topbarcontainer {
    background-color: #FFCC00;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.topbarbutton {
    background-color: transparent;
    border: none;
}

.redtext {
    color: #D40511;
    
}
.postboxcontainer {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
}
.pickuptext {
    align-self: center;
}

.postboxpng {
    align-self: center;
}