@media screen and (max-width: 450px) and (max-height: 900px) {
    body {

        background-color: #212121;
        font-family: delivery;

        max-width: 450px;
        max-height: 900px;
       
    
    }

    .container{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 2fr 4fr 2fr;
    }

    .filler{
        display: grid;
        grid-template-rows:1fr  1fr 1fr;

    }
    

    p {
        text-align: center;
        font-family:delivery;
        font-style:italic;
        font-weight: bold;
        font-size: 30px;
        color: white;
    }

    .login{
        width: 250px;
        height: 80px;
        background: url("Login.png");
        grid-column-start: 2;
        grid-row-start: 1;
    }

    .signup{
        width: 250px;
        height: 80px;
        background: url("Signup.png");
        grid-column-start: 2;
        grid-row-start: 3;
    }
}


