body {
       background-color: #212121;
       font-family: delivery;

       max-width: 450px;
       max-height: 950px;
    
}



.filler{
    padding: 4em;
}


.input{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

p {
    text-align: center;
    color: white;
}


.PhonenumberText{
    grid-column-start: 2;
    grid-row: 1;
}
.Phonenumber{
    background-color: #BBBBBB;
    border: 1em;
    border-color: #707070;
    grid-column: 2;
    grid-row: 2;
}
.PinCodeText{
    grid-column-start: 2;
    grid-row: 3;
}
.PinCode{
    background-color: #BBBBBB;
    border: 1em;
    border-color: #707070;
    grid-column: 2;
    grid-row: 4;
}
input[type="text"]{
    text-align: center;
}
input[type="password"]{
    text-align: center;
}


.container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 7fr 1fr 2fr;
}

.login{
    width: 250px;
    height: 80px;
    background: url("Login2.png");
    grid-column-start: 2;
    grid-row-start: 3;
}

.ForgotPin {
    color: red;
    text-decoration-line: underline;

    grid-column: 2;
    grid-row: 2;

}